.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  padding-left: 2rem;
}
.cal {
  display: flex;
  gap: 2.5rem;
  margin-top: 1rem;
  align-items: center;
  justify-content: center;
}
.cal1,
.cal2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cal1 span,
.cal2 span {
  padding-top: 1rem;
  font-size: 10px;
  color: #3732a9;
  font-weight: 600;
}
#date {
  font-weight: bold;
  font-size: 20px;
}
#tues {
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  background-color: rgb(234, 247, 247);
  border-radius: 0.5rem;
}
#badge {
  background-color: #3732a9;
  color: #fff;
  padding: 0.4rem;
  width: 2.5rem;
  border-radius: 0.3rem;
  margin-top: 0.4rem;
}
#badge1 {
  background-color: #a19ed0;
  color: #fff;
  padding: 0.4rem;
  width: 2.5rem;
  border-radius: 0.3rem;
  margin-top: 0.4rem;
}
#last span:not(#badge3) {
  color: #a19ed0;
}
#badge2 {
  width: 4rem;
  margin-top: 0.4rem;
  margin-right: -1.3rem;
  padding: 0.4rem;
  background-color: #a19ed0;
  color: #fff;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
#badge3 {
  width: 4rem;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-top: 0.4rem;
  color: #fff;
  margin-left: -1.3rem;
  text-align: end;
  background-color: #a19ed0;
  padding: 0.4rem;
}
