.appoint-cont {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 2rem;
  gap: 2rem;
}
.appoint1 {
  background-color: #3732a9;
  width: 13rem;
  height: 6rem;
  padding: 1rem;
  border-radius: 1rem;
  color: #fff;
}
.appoint2 {
  background-color: #d4d0f6;
  height: 6rem;
  width: 20rem;
  padding: 1rem;
  border-radius: 1rem;
  color: #555;
}

.appoint1 p {
  font-size: 12px;
  line-height: 1.4rem;
}

.appoint2 p {
  font-size: 12px;
  color: #3732a9;
  line-height: 1rem;
}

.apt {
  display: flex;
  color: #fff;
  padding-bottom: 0.5rem;
  align-items: center;
  justify-content: space-between;
  font-weight: bolder;
}

.apt1 {
  display: flex;
  color: #3732a9;
  padding-bottom: 0.5rem;
  align-items: center;
  justify-content: space-between;
  font-weight: bolder;
}
.apt img {
  width: 1rem;
  height: auto;
}
.apt1 img {
  width: 0.8rem;
  height: auto;
}
