/*  */

.upcoming-cont h1 {
  font-size: 14px;
  padding-left: 2rem;
  margin-top: -1rem;
  margin-bottom: 0.5rem;
  color: #000;
}
.upcoming-cont span {
  font-weight: bold;
  padding-left: 2rem;
  font-size: 12px;
  color: #555;
}
.upcome {
  display: flex;
  align-items: center;
  justify-content: start;
  padding-top: 0.5rem;
}
.upcome1,
.upcome2 {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 2rem;
  padding: 0.5rem;
  background-color: #d4d0f6;
  border-radius: 0.7rem;
  margin-bottom: 1rem;
}
.up,
.up1 {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}

.upcome1 p,
.upcome2 p {
  font-size: 9px;
  font-weight: bold;
}
.up span,
.up1 span {
  padding-left: 0;
}
.up img,
.up1 img {
  width: 2rem;
  height: auto;
}

#heart img {
  width: 1.4rem;
}
